body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #151dee;
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
}

header h1 {
  margin-bottom: 10px;
}

section {
  background: white;
  margin: 30px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}
.center-img {
  display: block;
  margin: 20px auto;

}

section h2 {
  color: #1a4596;
  margin-bottom: 15px;
}
#about h2{
    text-align: center;
}

#about img{
  display: flex;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  
}

.skill-box span {
  display: inline-block;
  background: #e0e0e0;
  color: #333;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
}

.project {
  margin-bottom: 20px;
}

#resume a {
  display: inline-block;
  padding: 10px 15px;
  background: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 10px;
}

#resume a:hover {
  background: #3700b3;
}

footer {
  text-align: center;
  padding: 15px;
  color: #666;
}

